@page
@model LibraryWeb.Areas.Identity.Pages.Account.Manage.BookManager.IndexModel

@{
    ViewData["Title"] = "Управление книгами";
}

<h1>Менеджер книг</h1>

<p>
    <a asp-page="./BookManager/Create">Добавить книгу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Автор</th>
            <th>Жанр</th>
            <th>Дата выхода</th>
            <th>Язык</th>
            <th>Количество</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Book) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ID)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Author)</td>
            <td>@Html.DisplayFor(modelItem => item.Type)</td>
            <td>@Html.DisplayFor(modelItem => item.Date)</td>
            <td>@Html.DisplayFor(modelItem => item.Languages)</td>
            <td>@Html.DisplayFor(modelItem => item.Count)</td>
            <td>
                <a asp-page="./BookManager/Edit" asp-route-id="@item.ID">Редактировать</a>
                <br/>
                <a asp-page="./BookManager/Details" asp-route-id="@item.ID">Подробности</a>
                <br/>
                <a asp-page="./BookManager/Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
