@page
@model LibraryWeb.Areas.Identity.Pages.Account.Manage.BookManager.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Информация</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Book.Name)</h4>
    <hr />
    <div class="row align-items-start">
        <div class="col flex-grow-0">
             @if (Model.Book.Img != null)
                {
                    <img id="profilePicture" style="width: 297px; height: 420px;  object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.Book.Img))">
                }
                else
                {
                    <img id="profilePicture" style="width: 297px; height: 420px;  object-fit:cover" src="~/images/no_cover_available.png">
                }
        </div>
        <div class="col flex-grow-1">
            <table class="iksweb">
	            <tbody>
		            <tr style="height: 40px;">
		            	<td style="width: 125px;">Автор</td>
			            <td>@Html.DisplayFor(model => model.Book.Author)</td>
		            </tr>
            		<tr style="height: 40px;">
            			<td style="width: 125px;">Издатель</td>
            			<td>@Html.DisplayFor(model => model.Book.Publish)</td>
            		</tr>
            		<tr style="height: 40px;">
            			<td style="width: 125px;">Жанр</td>
            			<td>@Html.DisplayFor(model => model.Book.Type)</td>
            		</tr>
            		<tr style="height: 40px;">
            			<td style="width: 125px;">Дата выпуска</td>
            			<td>@Html.DisplayFor(model => model.Book.Date)</td>
            		</tr>
                    <tr style="height: 40px;">
            			<td style="width: 125px;">Язык</td>
            			<td>@Html.DisplayFor(model => model.Book.Languages)</td>
            		</tr>
            		<tr style="height: 40px;">
            			<td style="width: 125px;">Язык</td>
            			<td>@Html.DisplayFor(model => model.Book.Languages)</td>
            		</tr>
	            </tbody>
            </table>
        </div>
    </div>
    <br />
    <div>
        <h5>Описание</h5>
        <p>@Html.DisplayFor(model => model.Book.Description)</p>
    </div>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Book.ID">Edit</a> |
    <a asp-page="../BookManager">Вернуться назад</a>
</div>
